body{
background-color:gray;
color:white;

}
p{
border:3px solid green;
border-color:lightblue; 
background-color:black;
border-radius:30px;

padding-top:10px;
padding-bottom:10px;

margin-left:150px;
margin-right:150px;
}
h1{
font-family:Chiller;	
font-size:84px;
}
input{
background-color:lightblue;
}
textarea{
background-color:lightblue;	
}
button{
margin-left:650px;

height:30px;
width:80px;
border-radius:30px;	
}
button:hover{
height:40px;
width:90px;

background-color:#D08A7D;	
}