body{
background-color:gray;
color:white;
}
p{
border:3px solid green;
border-color:lightblue; 
background-color:black;
border-radius:30px;

padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;

margin-left:400px;
margin-right:400px;
}
h1{	
font-size:64px;
}
button{
width:70px;	
}
button:hover{
width:75px;
background-color:#900C3F;
border-radius:30px;	
}