body{
background-color:gray;
}
form{
border-style:solid;
border-width:3px;
border-color:gray;
border-radius:30px;
background-color:lightblue;

margin-top:10px;
margin-bottom:100px;
margin-left:400px;
margin-right:400px;

padding-top:30px;
padding-bottom:50px;
padding-left:140px;
padding-right:px;
}
h1{
padding-left:640px;
color:greenyellow;
Font-family:FORTE;	
}
input:focus{
background-color:yellow;
color:black;
}
button:hover{
background-color:#D08A7D;
color:black;
border-radius:10px 20px;
}
